*{
box-sizing:border-box;
}

.header{
background:grey;
color:white;
padding:15px;
text-align:center; 
}

body{
background:#444;
}

footer{
background:grey;
text-color:white;
padding:15px;
}

.topmenu{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background:grey;
}

.topmenu li{
float:left;
}

.topmenu li a{
text-decoration:none;
display:inline-block;
color:white;
text-align:center;
padding:16px;
}

.topmenu li a:hover{
background:black;
}

.topmenu li a.active{
background:green;
}

.clearfix::after{
content:"";
clear:both;
display:table;
}

.sidemenu{
width:25%;
float:left;
padding:15px;
}

.sidemenu ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.sidemenu li a{
margin-bottom:10px;
display:block;
text-decoration:none;
padding:5px;
background:#666;
color:white;
}

.content{
width:75%;
float:left;
padding:15px;
}

.sidemenu li a:hover{
background:#333;
}

.font{
font-size:20px;
font-family:cursive;
color:white;
}

p:target{
background:silver;
color:#333;
transition-duration:1s;
padding:10px;
}

.link{
text-decoration:underline;
text-decoration-thickness:2px;
text-decoration-color:blue;
color:#333;
}

.footmenu{
padding:15px;
}

.footmenu ul{
margin:0;
padding:0;
list-style-type:none;
}

.footmenu ul li{
margin-bottom:15px;
border-bottom-style:dotted;
}

.footmenu ul li a{
text-decoration:none;
color:#333;
}

section{
text-align:center;
}